In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
teslastock_df = pd.read_csv("../data/raw/teslastock_raw.csv")
teslastock_df.head()

         Date  Adj Close     Close      High       Low      Open     Volume
0  2010-06-29   1.592667  1.592667  1.666667  1.169333  1.266667  281494500
1  2010-06-30   1.588667  1.588667  2.028000  1.553333  1.719333  257806500
2  2010-07-01   1.464000  1.464000  1.728000  1.351333  1.666667  123282000
3  2010-07-02   1.280000  1.280000  1.540000  1.247333  1.533333   77097000
4  2010-07-06   1.074000  1.074000  1.333333  1.055333  1.333333  103003500

In [3]:
# Date Feature Extraction

teslastock_df["Date"] = pd.to_datetime(teslastock_df["Date"], errors="coerce")

In [4]:
# Price Feature Engineering
teslastock_df["PriceChange"] = teslastock_df["High"] - teslastock_df["Low"]

In [5]:
teslastock_df.to_csv("../data/processed/teslastock_processed.csv")